/static/*
*.wp[r|u]
*.db
*.png
*.tif
*.jpg
*.gif
*.ico
*.pyc
*.project
/htroot/jquery.js
/htroot/demo.js
/htroot/backup/*
/htroot/css/*
/htroot/development-bundle/*
/htroot/images/*
/htroot/js/*
/htroot/scripts/*